*{
    margin: 0;
    padding: 0;
    
}

.Dasbord-contents{
    margin: 10px;
}

.ClientName{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}


.greet{
    font-size: 25px;
    font-weight: 500;
}

.Dash-board{
    margin: 10px;
   
}

.sideBar_right{
    background-color: yellow;
    height: 100%;
}